<template>
  <Formulaire />
</template>

<script>
import Formulaire from '~/components/Formulaire';

export default {
  name: 'exo1',
  components: { Formulaire }
};
</script>

<style scoped>
</style>
