<template>
  <div class="flex flex-col justify-center items-center">
    <div class="mt-64 bg-white py-8 px-8 shadow-2xl rounded">
      <h1 class="text-2xl font-bold text-gray-600">Conversion de devises</h1>
      <form class="flex flex-col justify-center" @submit.prevent="onSubmit">
        <label>
          <input class="border border-gray-400 py-2 px-4 mt-8 w-full" placeholder="5" type="text" v-model="amount"
                 @keydown="hide">
        </label>

        <div class="flex space-x-8 justify-between pt-4">
          <label class="font-semibold text-gray-800">
            Euro
            <input type="radio" name="currency" value="euro" v-model="currency" />
          </label>
          <label class="font-semibold text-gray-800">
            FRF
            <input type="radio" name="currency" value="frf" v-model="currency">
          </label>
        </div>
        <label class="content-center self-center pt-4">
          <input type="submit" class="bg-indigo-600 text-white py-2 px-8 font-bold cursor-pointer">
        </label>

        <div class="flex mt-2">
          <div class="w-full">
            <transition name="fade" appear>
              <div v-if="value !== null" class="relative">
                <p class="font-semibold text-gray-800 text-center">
                  Cliquez pour copier
                </p>
                <p class="border border-gray-400 py-2 px-4 w-full" ref="value" @click="copyToClipboard">
                  {{ getValue() }}
                </p>
              </div>
            </transition>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
const EURO_TO_FRF = 6.55957;

export default {
  name: 'Formulaire',
  data () {
    return {
      amount: null,
      currency: 'euro',
      value: null
    };
  },
  methods: {
    onSubmit: function() {
      this.hide();
      if (!this.amount || isNaN(this.amount)) return this.$toast.error('Veuillez entrez un nombre', { duration: 1000 });
      if (this.currency === 'euro') return this.value = this.amount / EURO_TO_FRF;
      else this.value = this.amount * EURO_TO_FRF;
    },
    copyToClipboard: async function() {
      const result = await navigator.permissions.query({ name: 'clipboard-write' });
      if (result.state === 'granted' || result.state === 'prompt') {
        try {
          await navigator.clipboard.writeText(this.getValue());
          this.$toast.success('Valeur copier dans le presse-papier !', { duration: 1000 });
        } catch (e) {
          console.error(e);
          this.$toast.error('Impossible de copier dans le presse-papier !', { duration: 1000 });
        }
      }
      this.hide();
    },
    getValue: function() {
      return this.value = Number.parseFloat(this.value).toFixed(2);
    },
    hide: function() {
      return this.value = null;
    }
  }
};
</script>

<style scoped>
.fade-enter-active {
  height: 66px;
  transition-property: height, opacity;
  transition-timing-function: ease-in-out;
  transition-delay: 0s, .35s;
  transition-duration: .35s, .35s;
}

.fade-enter {
  height: 0;
  opacity: 0;
}

.fade-leave-active {
  height: 66px;
  transition-property: opacity, height;
  transition-timing-function: ease-in-out;
  transition-delay: 0s, .35s;
  transition-duration: .35s, .35s;
}

.fade-leave-to {
  height: 0;
  opacity: 0;
}
</style>
